/* 段落のインデント用 */
p {
  text-indent: 1rem;
}
/* 段落のインデント用 */

/* project_preview用 */
.project-card__detail {
  min-height: 40px;
  gap: 10px;
}
.project-card-medal {
  padding-top: 1.5rem;
}
.project-card-thumbnail {
  display: flex;
  justify-content: center;
}

/* project_preview用 */

/* 文字が見にくいと思ったので行間の調節 */
p {
  line-height: 1.75;
}
/* 文字が見にくいと思ったので行間の調節 */

/* ホームの最新のツイート枠 */
.rounded-5 {
  border-radius: 1.3rem !important;
}

.border-thirdry {
  border-color: #9c9c9c !important;
}
/* ホームの最新のツイート枠 */

/* ヘッダーのリンクとロゴの画像がかぶるのを防ぐように細かい調整 */
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 11px !important;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .nav-modifier a {
    padding-right: 9px !important;
    padding-left: 9px !important;
  }
}
/* ヘッダーのリンクとロゴの画像がかぶるのを防ぐように細かい調整.(応急処置) */
.d-flex {
  display: flex !important;
}
