---
import Layout from "../../components/Layout.astro";
import { getCollection, getEntry } from "astro:content";
import BlogCard from "../../components/BlogCard.astro";
const posts = await getCollection("blog");
---

<style>
  ul {
    padding: 0rem 2rem;
    width: 100%;
    max-width: 616px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr; /* 2つの列を等しい幅で設定 */
    grid-gap: 10px; /* 要素間の間隔を設定 */
  }

  li {
    list-style: none;
  }
</style>
<Layout>
  <h1>All Posts</h1>
  <ul>
    {
      posts
        .sort((a, b) => {
          if (a.data.date < b.data.date) {
            return 1;
          } else if (a.data.date > b.data.date) {
            return -1;
          } else {
            return 0;
          }
        })
        .map(
          (p) =>
            p.data?.ignore !== true && (
              <li>
                <BlogCard
                  slug={p.slug}
                  title={p.data.title}
                  author={p.data.author}
                  date={p.data.date}
                />
              </li>
            ),
        )
    }
  </ul>
</Layout>
