.footer {
  position: relative;
  bottom: 0;

  /*
    Headerに合わせる
  */
  z-index: 0;
}

.logo__wrapper {
  height: 20px;
  width: 20px;
}

.logo__link {
  /*
    logo__linkを円形にした際にlogoが円の中心に来るように
  */
  display: flex;
  justify-content: center;
  align-items: center;

  height: 25px;
  width: 25px;
}

/* ====================================================



===================================================== */
.footer {
  background-color: #f8f9fa;
}

.logo__link {
  border-radius: 18px;
}

.logo__link:hover {
  background-color: #c7c7c7;
}
