.header {
  /*
    Headerの高さは64pxで固定
  */
  height: 64px;
  width: 100%;
  display: flex;
  /*
    ロゴ，ナビゲーションの順に左から横並び
  */
  flex-direction: row;
  align-items: center;

  position: fixed;
  top: 0;

  padding: 0 0.5rem;
  /*
    これがないとMarkdownのレンダリング
  */
  z-index: 1;
}
@media screen and (max-width: 600px) {
  .header {
    justify-content: space-between;
  }
}

.logo {
  height: 60px;
  width: 60px;
}

.logo__img {
  display: inline-block;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .mobile_nav__wrapper {
    /*
      モバイルサイズのときはナビゲーションをラップする
      divに配置系のスタイルを持たせる．
    */
    position: fixed;
    height: 100%;
    width: 300px;
    /*
      headerの高さ
    */
    margin-top: 64px;
    padding-top: 10px;
    top: 0;
    left: 0;

    /*
      これがないとMarkdownのレンダリング
    */
    z-index: 1;
  }
}
@media screen and (max-width: 600px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    height: 22px;
    width: 30px;
  }
  .hamburger span {
    width: 20px;
    height: 2px;
  }
}

.nav {
}

@media screen and (max-width: 600px) {
  .nav {
    max-height: calc(100vh - 68px);
    overflow-y: scroll;
  }
}

.nav__ul {
  display: grid;
  /*
    ナビゲーション内での親routeは横並び
  */
  grid-auto-flow: column;
  /*
    ナビゲーションアイテムひとつあたりの幅を設定しない代わりにgapを設定
    →幅を設定しないことで小さいアイテムがクリックしにくくなるのをgapを設定して多少はしやすいようにする
  */
  gap: 5px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .nav__ul {
    grid-auto-flow: row;
    gap: 0;
  }
}

.sub_items__ul {
  position: absolute;
}
@media screen and (max-width: 600px) {
  .sub_items__ul {
    position: relative;
  }
}

.nav_item__a,
.sub_item__a {
  display: block;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  height: 48px;
  line-height: 48px;
}

/* ====================================================



===================================================== */
.header {
  background-color: white;
  border-bottom: solid rgba(99, 99, 99, 0.3) 0.02rem;
}

.nav {
  background-color: white;
}
@media screen and (max-width: 600px) {
  .mobile_nav__wrapper {
    background-color: white;
    border-right: solid 0.02rem rgba(123, 123, 123, 0.23);
  }
}

.nav_item {
  list-style: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
}

@media screen and (max-width: 600px) {
  .nav_item {
    /*
      モバイルのときはなビゲーションアイテムは左寄せが良い
    */
    text-align: left;
  }
}

.nav_item__a,
.sub_item__a {
  /*
    デフォルトでアンカータグについている見た目をリセット
  */
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.nav_item__a:hover,
.sub_item__a:hover .sub_item {
  background-color: rgba(212, 212, 212, 0.7);
}

.sub_items__ul {
  display: none;
  background-color: white;
  min-width: 6rem;
}

@media screen and (max-width: 600px) {
  .sub_items__ul {
    display: block;
    padding-left: 1.5rem;
    min-width: none;
  }
}

.sub_items__ul.open {
  display: block;
}

.sub_item {
  border-radius: 0.2rem;
  list-style: none;
}

.sub_item:hover {
  background-color: rgba(212, 212, 212, 0.7);
}

@media screen and (max-width: 600px) {
  .hamburger {
    border-radius: 3px;
    cursor: pointer;
  }
  .hamburger span {
    background-color: rgb(160, 160, 160);
  }
}

.mobile_nav__background {
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  inset-inline-end: 0;
  position: fixed;
  top: 0;
  transition:
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    width 3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  z-index: 0;
}

.sub_items__card {
  border-radius: 10px; /* カードの角丸 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影の設定 */
}
