---
import Layout from "../components/Layout.astro";
---

<Layout>
  <h1>ようこそ!</h1>
  <p>
    iGEM Tokyo
    Techは、合成生物学の世界大会iGEMに出場する東京工業大学のチームです。
  </p>
  <p>2023年のWikiは、<a href="https://2023.igem.wiki/tokyotech">こちら</a></p>
</Layout>
