---
import Layout from "../components/Layout.astro";
---

<style>
  article {
    padding: 0rem 2rem;
    width: 100%;
    max-width: 616px;
    margin: auto;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  p {
    margin-top: 1rem;
  }

  .text {
    margin: 60px auto;
  }
</style>

<Layout>
  <article>
    <div class="text">
      <h3>私たちは、合成生物学で社会課題を解決します</h3>
      <p>
        iGEMは、社会課題を合成生物学を用いて解決するプロジェクトを提案する場です。私たちはiGEMに出場するためにプロジェクトを行うのではなく、社会課題と真摯に向き合い、東工大の学生らしく技術を使って課題を解決するためのプロジェクトの実装を目指します。
      </p>
    </div>
    <div class="text">
      <h3>iGEMでエンジニアの資質を身につけます</h3><p>
        iGEMのプロジェクトは、課題を見つけ、その合成生物学的な解決方法を考え、実際に実験を行い、社会実装を目指すという流れで進んでいきます。この流れは、エンジニアリングそのものです。iGEM
        TokyoTechのメンバーは、このエンジニアリングの一連の流れを学士課程のうちから体感することで、技術を持って社会課題を解決するエンジニアの姿を学びます。
      </p>
    </div>
    <div class="text">
      <h3>合成生物学への正しい認識を社会に広めます</h3><p>
        合成生物学は、社会に貢献できるポテンシャルを秘めているにも関わらず一般の認知度は依然低いままです。しかし、合成生物学の関連ワードである「遺伝子組み換え作物」や「ゲノム編集」などの用語は、時に多くの誤解を招くことがあります。合成生物学が今後そのポテンシャルを十分に発揮するためには、このような誤解をなくし、合成生物学への正しい認識を広めていく必要があります。私たちは、小学生未満から大人まで幅広い人に合成生物学を知ってもらい、その有用性について伝えるコミュニケーション活動を行います。
      </p>
    </div>
    <div class="text">
      <h3>社会課題の解決：合成生物学の応用</h3>
      <p>
        私たちiGEM
        TokyoTechは、社会に存在する様々な課題に対して、合成生物学という革新的な科学技術を用いて取り組みます。私たちの活動は単にiGEMコンペティションに参加するためだけでなく、より広い視野を持って社会課題に向き合い、東京工業大学の学生としての高度な技術力と創造性を活かし、具体的な解決策を模索し実現することを目指しています。これには、環境問題、健康、持続可能性など多岐にわたる分野が含まれ、私たちはこれらの問題に対して独自の視点から取り組みます。
      </p>
    </div>
    <div class="text">
      <h3>iGEMを通じたエンジニアリング能力の向上</h3><p>
        iGEMにおける私たちのプロジェクトは、実世界の課題を特定し、それを合成生物学を通じて解決する方法を設計し、実際に実験を行い、最終的にはその解決策を社会に実装するという一連のプロセスを経ます。この過程は、まさにエンジニアリングの核心をなしています。iGEM
        TokyoTechのメンバーは、この一連のプロセスを通じて、問題解決能力、チームワーク、プロジェクトマネジメント、コミュニケーションスキルなど、実践的なエンジニアリング能力を身につけます。これらのスキルは、将来、科学技術の分野で活躍するために不可欠です。
      </p>
    </div>
    <div class="text">
      <h3>合成生物学の正確な理解と普及</h3>
      <p>
        合成生物学は、その巨大な可能性にもかかわらず、社会全体での認知度はまだ低いです。一般には「遺伝子組み換え」や「ゲノム編集」といった用語が誤解を招くことも少なくありません。私たちは、合成生物学の真のポテンシャルを社会に広く認識してもらうために、その概念や利点、安全性についての正確な情報を提供することを重要視しています。このために、私たちは教育機関、地域コミュニティ、一般市民に向けた普及活動を行い、合成生物学が持つ科学技術としての価値を広めるための取り組みを積極的に行っています。これにより、合成生物学が社会に受け入れられ、その真の価値を発揮するための基盤を築きます。
      </p>
    </div>
  </article>
</Layout>
