---
import Layout from "../components/Layout.astro";
---

<style>
  article {
    padding: 0rem 2rem;
    width: 100%;
    max-width: 616px;
    margin: auto;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  p {
    margin-top: 1rem;
  }

  .text {
    margin: 60px auto;
  }
</style>
<Layout title="About iGEM">
  <article>
    <div class="text">
      <h3>iGEM とは?</h3>
      <p>
        <a href="https://igem.org/"
          >iGEM（International Genetically Engineered Machine）</a
        >は、パリで毎年11月ごろに開催される合成生物学の国際大会です。高校生や大学生、大学院生などが参加し、合成生物学の分野で世界最大規模のイベントです。2023年は、世界各国から400チーム以上が参加しました。
      </p>

      <p>
        iGEMはしばしば「生物版ロボットコンテスト」という説明がされます。参加チームは、対象となる社会課題に対して独自の生物学的デバイスを設計し、遺伝子パーツを使用してそれを完成させます。大会では、そのデバイスの出来やチームがどの程度その社会問題やプロジェクトについて細部まで検討していたかが評価され、それに応じて賞が与えられます。
      </p>
      <p>
        iGEMで行う活動は、合成生物学を用いた実験にとどまらず、そのプロジェクトの社会へのインパクト評価や、プロジェクトの倫理的側面の検討、中高生向けの合成生物学の教育など多岐に渡ります。
      </p>
    </div>
    <div class="text">
      <h3>合成生物学とは？</h3>
      <p>
        一般的に合成生物学は、試験管のなかで反応を起こし、生命の起源を探究するものと、大腸菌などの遺伝子情報を一部組み替えることで、それに新たな形質を持たせるものの2つの側面があります。iGEMにおける合成生物学は、どちらかというと後者で、コンピュータをプログラムするように遺伝子をパーツとみて、それを適切に組み換え、社会に役立つ形質を出現させようとする試みです。例えば、大腸菌にクモが持つ糸を出す働きの遺伝子を与え、それを使い大腸菌に糸を出させる形質を持たせ、繊維を作らせるというプロジェクトがあります。
      </p>
    </div>
    <div class="text">
      <h3>iGEMのポイント</h3>
      <p>
        iGEMの目標は、「合成生物学を誰でも使えるの強力なツールにする」ことです。上で述べた特定の働きをする遺伝子パーツをiGEMではBiobrickと呼び、各チームが過去に作成したBiobrickはライブラリにまとめられ、世界に公開されています。このライブラリ上のBiobrickを組み合わせるだけで、世界の誰しもが簡単に合成生物学的なツールを作ることができるようにすることが、iGEMが目指すものです。
      </p>

      <p>
        私たちiGEM参加チームは、Biobrickを使ったり、そこに新しく追加したりすること、それと同時に社会にインパクトのあるプロジェクトを構想し、実践することが求められています。
      </p>
      <p>
        iGEM
        TokyoTechでは、このようなiGEMの理念にのっとり、社会の役に立つプロジェクトの構想から実装方法の検討、実験の実施まで包括的なプロジェクトを作っています。
      </p>
    </div>
  </article>
</Layout>
