<article class="row well">
    <div class="col-lg-3">
        {{ $title := .title }}
        {{ with .year }}
            {{ $projectSrc := . | printf "/img/projects/%v-thumnail.png" }}
            <img src="{{ $projectSrc }}" alt="{{ $title }}"/>
        {{ end }}
    </div>
    <div class="col-lg-9">
        <div class="d-flex">
            <div class="px-2">
                {{ $medalSrc := .medal | printf "/img/medals/%s.png" }}
                <img src="{{ $medalSrc }}" alt="{{ .medal }}" class="img-fluid mt-4" height="35"/>
            </div>
            <h2>{{ $title }}</h2>
        </div>
        <div>{{ .content }}</div>
    </div>
</article>