<section class="project-card">
    <a href="{{ .Permalink }}" class="row" >
        <div class="project-card__thumbnail col-2 col-xs-0">
            <img src="{{ .Params.imgSrc }}" alt="{{ .Params.title }}"/>
        </div>

            <div class="project-card__detail d-flex col-10 col-xs-12">
                <div class="col-lg-offset-1 project-card-medal">
                    {{ $src := .Params.medal | printf "/img/medals/%s.png" }}
                    <img src="{{ $src }}" alt="{{ .Params.medal }}" height="30px"/>
                </div>
                <div class="col-10 d-flex">
                    <h2>{{ .Params.year }}:{{ .Params.title | safeHTML }}</h2>
                </div>
            </div>

    </a>
</section>