{{ define "main" }}
<div role="main" class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ with .Content }}
      <div class="well">{{.}}</div>
      {{ end }}
      <hr />
      <div
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <h4 class="h-25">{{ i18n "latestTweet" }}</h4>
        <div class="col-8 pre-scrollable border border-thirdry border-1 rounded-5" style="max-height: 50vh;">
          <a
            class="twitter-timeline h-100"
            href="https://twitter.com/igem_tokyotech?ref_src=twsrc%5Etfw"
            >Tweets by igem_tokyotech</a
          >
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <hr />
      <h3>{{ i18n "latestPost" }}</h3>
      {{ if .Paginator.Pages }} {{ $latest := index .Paginator.Pages 0 }} {{
      partial "post_preview.html" $latest }} {{ end }}
      <!--{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}-->
    </div>
  </div>
</div>
{{ end }}
