{{ define "main" }}
  <div class="container" role="main">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ range $i, $r := getJSON "static/json/member.json" }}
            <div class="d-flex pt-3 pb-3 member-preview">
              <div class="member-image-wrapper">
                <img src={{ printf "/img/about/member/%s" (index $r "image") }} width="100px" class="member-image"/>
              </div>
              <div class="px-2">
                <div><strong>名前</strong>:&nbsp;&nbsp;{{ index $r "name" }}</div>
                <div><strong>担当</strong>:&nbsp;&nbsp;{{ index $r "part" }}</div>
                <div><strong>ひとことコメント</strong>✏️</div>
                <div class="member-comment">{{ index $r "text" }}</div>
              </div>
            </div>
            {{ end }}
            </div>
          </div>
  </div>
{{ end }}